.logo {
    line-height: 1;
}

@media (min-width: 1199px) {
    .logo {
        width: 280px;
    }
}

.logo img {
    max-height: 26px;
    margin-right: 2px;
}

.logo span {
    font-size: 21px;
    font-weight: 500;
    color: #0F4C75;
    font-family: 'Kanit', sans-serif;
    letter-spacing: 1px;
    position: absolute;
    top: 18px;
}

@media (max-width: 1199px) {
.logo span {
    display: none !important;    
  }
}