.logo {
    line-height: 1;
    margin-left: 15px;
}

@media (min-width: 1199px) {
    .logo {
        width: 280px;
    }
}

.logoImg {
    max-height: 26px;
    margin: -3px 2px 0 0;
    width: 25px;
    height: 25px;
}

.logo span {
    font-size: 21px;
    font-weight: 500;
    color: #0F4C75;
    font-family: 'Kanit', sans-serif;
    letter-spacing: 1px;
    position: absolute;
    top: 18px;
}

@media (max-width: 1199px) {
.logo span {
    display: none !important;    
  }
}